.navbar {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 1rem;
    background-color: #4ecf7b;
    border-bottom: 0.2rem solid #3b965b;
}

.navbar-nav {
    color: white;
    width: 100%;
    list-style-type: none;
    float: left;
    background-color: #4ecf7b;
    margin: 0;
    height: 2.5rem;
    padding: 0;
}

.navbar-link {
    font-size: 18px;
    color: white;
}

.navbar-item {
    margin-left: 2rem;
    font-size: 18px;
    float: left;
}

.navbar-item-right {
    margin-right: 2rem;
    font-size: 18px;
    float: right;
}

.navbar-button {
    font-size: 18px;
    color: white;
    background-color: transparent;
    border: none;
}

.navbar-button:hover {
    color: gray;
    background-color: transparent;
    border: none;
}

.accountMenu {
    position: absolute;
    z-index: 10;
    top: 3.5rem;
    right: 2rem;
    float: right;
    width: 10rem;
    background-color: #4ecf7b;
    border: 0.2rem solid #3b965b;
    border-top: none;
}

.accountMenuList {
    width: 100%;
    list-style-type: none;
}

.accountMenuItem {
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
}

.accountMenuItemLink {
    color: white;
    font-size: 18px;
}

.accountMenuButton {
    font-size: 18px;
    color: white;
    background-color: transparent;
    border: none;
}

.accountMenuButton:hover {
    color: gray;
    background-color: transparent;
    border: none;
}

.searchBarForm {
    position: absolute;
    width: 30rem;
    left: 37.5%;
}

.searchBarInput {
    border: 0.2rem solid #3b965b;
    border-radius: 0.6rem;
    padding-left: 0.5rem;
    color: gray;
    width: 100%;
    height: 2rem;
    font-size: 18px;
    margin: auto;
}