* {
  box-sizing: border-box;
  color: gray;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: gray;
  text-decoration: none;    
}

a:hover {
  color: darkgrey;
}

form {
  margin: auto;
  width: 50rem;
}

input {
  font-size: 16px;
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
}


div[class="profile"] button {
  border: 0.15rem solid #3b965b; 
  background-color: #4ecf7b;
  color: white;
  font-size: 16px;
  margin: auto;
  height: 2rem;
  width: 50%;
  display: block;
}

div[class="profile"] button:hover {
  background-color: #3b965b;
  border: 0.15rem solid #4ecf7b; 
}

form button {
  border: 0.15rem solid #3b965b; 
  background-color: #4ecf7b;
  color: white;
  font-size: 16px;
  margin: auto;
  height: 2rem;
  width: 50%;
  display: block;
}

form button:hover {
  background-color: #3b965b;
  border: 0.15rem solid #4ecf7b; 
}